{% extends "base.html" %}

{% block content_header %}

  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">{{ g.client_name }}</h1>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <div class="btn-group mb-3" role="group">
        <a class="btn btn-dark active font-weight-bold" href="/client/{{ g.client_id }}">Server info</a>
        {% for world in g.worlds %}
        <a class="btn btn-dark" href="/client/{{ g.client_id }}/session/{{ world[0] }}">{{ world[1]["name"] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-6">

      <div class="row">

        <div class="col-xl-12">

          {% if g.state[0] == "not_responding" %}
            <div class="alert alert-danger">This server is not responding to commands, and the information you see here may be outdated. You can try to <a href="#restartClientModal" data-toggle="modal">restart</a> it in-place, or you can <a href="#killClientModal" data-toggle="modal">kill</a> it if you no longer need it, but manually check if the sessions are empty before performing either of these actions.</div>
          {% endif %}

          <div class="card">
            <div class="card-body">
              Switch between sessions on this server using the buttons above. The table to the side/below offers a quick overview of the sessions that are currently running. The stats below relate only to this specific server. For an overview of all servers, go back to the <a href="/dashboard">dashboard</a>.
            </div>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xl-6">
          <div class="info-box bg-primary">
            <span class="info-box-icon"><i class="far fa-user"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Users Connected</span>
              <span class="info-box-number">{{ g.summary["current_users"] }}</span>
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="fas fa-user"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Users Present</span>
              <span class="info-box-number">{{ g.summary["present_users"] }}</span>
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="fas fa-globe"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Sessions/Worlds</span>
              <span class="info-box-number">{{ g.summary["sessions"] }}</span>
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Max Capacity</span>
              <span class="info-box-number">{{ g.summary["max_users"] }}</span>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Client info</h3>
            </div>
            <div class="card-body">
              <b>Version:</b> {{ g.version }}<br />
              <b>Compatibility Hash:</b> <code>{{ g.compatibility_hash }}</code><br />
              <b>Machine ID: </b> <code>{{ g.machine_id }}</code><br />
              <b>Supported Network Protocols: </b> {{ ", ".join(g.supported_network_protocols) }}<br />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-6">

      <div class="row">

        <div class="col-xl-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">World/session list</h3>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Current users</th>
                    <th scope="col">Present users</th>
                    <th scope="col">Access level</th>
                    <th scope="col">Max users</th>
                  </tr>
                </thead>
                <tbody>
                  {% for world in g.worlds %}
                  <tr>
                    <td><a href="/client/{{ g.client_id }}/session/{{ world[0] }}"><b>{{ world[1]["name"] }}</b></a></td>
                    <td>{{ world[1]["users"] }}</td>
                    <td>{{ world[1]["present"] }}</td>
                    <td>{{ world[1]["access_level"] }}</td>
                    <td>{{ world[1]["max_users"] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="position: relative; top: 5px;">Contact requests</h3>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for friend_request in g.friend_requests %}
                  <tr>
                    <td>{{ friend_request }}</td>
                    <td>
                      {% if g.state[0] == "running" %}
                      <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#acceptFriendRequestModal" data-username="{{ friend_request }}"><b>Accept</b></button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block modals %}

{% if g.state[0] == "not_responding" %}
  <!-- Restart modal -->
  <div class="modal fade" id="restartClientModal" tabindex="-1" role="dialog" aria-labelledby="restartClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="restartClientModalLabel">Restart server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="restartClientModalForm" action="/api/v1/{{ g.client_id }}/restart_client" method="post">
          <div class="modal-body">
            Are you sure you want to restart this server?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-warning" value="restart">Restart</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Kill modal -->
  <div class="modal fade" id="killClientModal" tabindex="-1" role="dialog" aria-labelledby="killClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="killClientModalLabel">Kill server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="killClientModalForm" action="/api/v1/{{ g.client_id }}/terminate" method="post">
          <div class="modal-body">
            Are you sure you want to kill this server?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger" value="restart">Kill</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

<!-- AcceptFriendRequest modal -->
<div class="modal fade" id="acceptFriendRequestModal" tabindex="-1" role="dialog" aria-labelledby="acceptFriendRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acceptFriendRequestModalLabel">Contact request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="acceptFriendRequestModalForm" action="/api/v1/{{ g.client_id }}/accept_friend_request" method="post">
        <div class="modal-body">
          Are you sure you want to accept the contact request of <b id="acceptFriendRequestModalUsernameDisplay"></b>?
          <input type="hidden" id="acceptFriendRequestModalUsername" name="username" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Accept</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/client.js"></script>

{% endblock %}
