{% extends "base.html" %}

{% block content_header %}

  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Dashboard</h1>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-primary">
        <span class="info-box-icon"><i class="fas fa-server"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Headless Servers
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total number of headless clients currently running.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["clients"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-success">
        <span class="info-box-icon"><i class="fas fa-globe"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sessions/Worlds
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total sessions/worlds currently running across all headless clients.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["sessions"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-warning">
        <span class="info-box-icon"><i class="far fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Users Connected
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total users connected to all sessions, but not necessarily present or focused on the world.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["current_users"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-danger">
        <span class="info-box-icon"><i class="fas fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Users Present
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total users connected to all sessions and currently present in a world.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["present_users"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-info">
        <span class="info-box-icon"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Total Max Capacity
            <span data-toggle="tooltip" data-placement="bottom"
              title="The combined max user cap of all sessions.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["max_users"] }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <h4>Servers</h4>
    </div>
  </div>

  <div class="row">
    {% for c in g.clients %}
    {% set summary = g.clients[c].summary() %}
    <div class="col-xl-3 col-md-4 col-sm-6">
      <a href="/client/{{ c }}">
        <div class="info-box bg-info">
          <span class="info-box-icon"><i class="fas fa-server"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{ g.clients[c].client_name }}</span>
            <span class="info-box-number">{{ summary["sessions"] }} session(s) running<br />{{ summary["current_users"] }} user(s) connected, {{ summary["present_users"] }} present</span>
            <div class="progress">
              {% set progress_width = summary["current_users"]/summary["max_users"]*100 %}
              <div class="progress-bar" style="width: {{ progress_width }}%"></div>
            </div>
            <span class="progress-description">Max capacity is {{ summary["max_users"] }} user(s)</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

{% endblock %}

{% block scripts %}

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% endblock %}
