{% extends "base.html" %}

{% block content_header %}

  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Dashboard</h1>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-primary">
        <span class="info-box-icon"><i class="fas fa-server"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Headless Servers
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total number of headless clients currently running.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["clients"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-success">
        <span class="info-box-icon"><i class="fas fa-globe"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sessions/Worlds
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total sessions/worlds currently running across all headless clients.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["sessions"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-warning">
        <span class="info-box-icon"><i class="far fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Users Connected
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total users connected to all sessions, but not necessarily present or focused on the world.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["current_users"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-danger">
        <span class="info-box-icon"><i class="fas fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Users Present
            <span data-toggle="tooltip" data-placement="bottom"
              title="Total users connected to all sessions and currently present in a world.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["present_users"] }}</span>
        </div>
      </div>
    </div>
    <div class="col-xl col-md-4 col-sm-6">
      <div class="info-box bg-info">
        <span class="info-box-icon"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Total Max Capacity
            <span data-toggle="tooltip" data-placement="bottom"
              title="The combined max user cap of all sessions.">
              <i class="fas fa-info-circle"></i>
            </span>
          </span>
          <span class="info-box-number">{{ g.status["max_users"] }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-6">
      <h4>Servers</h4>
    </div>
  </div>

  <div class="row">
    {% for c in g.clients %}
      {% set state = g.clients[c].get_state() %}
      {% if state[0] == "running" %}
        {% set summary = g.clients[c].summary() %}
        <div class="col-xl-3 col-md-4 col-sm-6">
          <a href="/client/{{ c }}">
            <div class="info-box bg-success">
              <span class="info-box-icon"><i class="fas fa-server"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ g.clients[c].client_name }}</span>
                <span class="info-box-number">{{ summary["sessions"] }} session(s) running<br />{{ summary["current_users"] }} user(s) connected, {{ summary["present_users"] }} present</span>
                <div class="progress">
                  {% set progress_width = summary["current_users"]/summary["max_users"]*100 %}
                  <div class="progress-bar" style="width: {{ progress_width }}%"></div>
                </div>
                <span class="progress-description">Max capacity is {{ summary["max_users"] }} user(s)</span>
              </div>
            </div>
          </a>
        </div>
      {% elif state[0] == "not_responding" %}
        {% set summary = g.clients[c].summary() %}
        <div class="col-xl-3 col-md-4 col-sm-6">
          <a href="/client/{{ c }}">
            <div class="info-box bg-danger">
              <span class="info-box-icon"><i class="fas fa-server"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ g.clients[c].client_name }}
                  <span data-toggle="tooltip" data-placement="bottom"
                    title="This server is not responding to commands. Click for more info.">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </span>
                <span class="info-box-number">{{ summary["sessions"] }} session(s) running<br />{{ summary["current_users"] }} user(s) connected, {{ summary["present_users"] }} present</span>
                <div class="progress">
                  {% set progress_width = summary["current_users"]/summary["max_users"]*100 %}
                  <div class="progress-bar" style="width: {{ progress_width }}%"></div>
                </div>
                <span class="progress-description">This server is not responding.</span>
              </div>
            </div>
          </a>
        </div>
      {% elif state[0] == "starting" %}
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="fas fa-server"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ g.clients[c].client_name }}</span>
              <span class="info-box-number">This server is starting up.</span>
              <div class="progress">
                <div class="progress-bar" style="width: {{ progress_width }}%"></div>
              </div>
              <span class="progress-description">Starting for {{ state[1] }} second(s) ...</span>
            </div>
          </div>
        </div>
      {% elif state[0] == "stuck_starting" %}
        <div class="col-xl-3 col-md-4 col-sm-6">
          <a href="#restartClientModal" data-toggle="modal" data-clientid="{{ c }}">
            <div class="info-box bg-danger">
              <span class="info-box-icon"><i class="fas fa-server"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ g.clients[c].client_name }}
                  <span data-toggle="tooltip" data-placement="bottom"
                    title="This server has been starting for over a minute, potentially due to errors. Click for more info.">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </span>
                <span class="info-box-number">This server is taking too long to start.</span>
                <div class="progress">
                  <div class="progress-bar" style="width: {{ progress_width }}%"></div>
                </div>
                <span class="progress-description">Starting for {{ state[1] }} second(s) ...</span>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}

{% block modals %}

  <!-- Restart or kill client modal -->
  <div class="modal fade" id="restartClientModal" tabindex="-1" role="dialog" aria-labelledby="restartClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="restartClientModalLabel">Restart or kill server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="restartClientModalForm" method="post">
          <div class="modal-body">
            <p>Headless servers can sometimes fail to start, either due to an erroneous configuration or a temporary glitch in startup. Please check your configuration for possible problems, such as a bad Neos username/password. If you are certain your configuration is correct, simply restarting the server will resolve the issue in most cases.</p>
            <p>Please select an action using the buttons below.</p>
            <input type="hidden" id="restartClientModalClientID" name="client_id" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-warning" value="restart">Restart</button>
            <button type="submit" class="btn btn-danger" value="kill">Kill</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script src="/static/js/dashboard.js"></script>

{% endblock %}
